*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: #1b1b32;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}
.freecodecamp-logo-contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.freecodecamp-logo{
    height: 50px;
}
.contenedor-principal{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}